html, body {
    margin: 0;
    padding: 0;
}

#about-container{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#about-legalbrief{
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

#about-us{
    background-image: url(../Assets//legal\ background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding-left: 10%;
    padding-top: 15%;
    font-size: 100px;
    font-weight: 700;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
}

#about-left{
    flex-grow: 1;
    width: 100px;
    padding-left: 10%;
}

#about-title{
    font-size: 75px;
}

#inspiration-title{

}

#why-title{

}

#about-content{
    font-size: 16px;
    line-height: 40px;

}

#inspiration{
    font-size: 16px;
    line-height: 40px;
}

#why{
    font-size: 16px;
    line-height: 40px;
}

#about-pic > img{
    width: 400px;
}

#about-right{
    background-color: black;
    margin-right: 10%;
    height: 500px;
    padding-top: 200px;
    justify-content: center;
    width: 400px;
}

#core-values{
    background-image: url('../Assets/about_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-left: 10%;
}

#core-values-title{
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 75px;
}

#core-value-1{
    font-size: 23px;
}

#core-content-1{
    font-size: 18px;
    padding-right: 40%;
    line-height: 45px;
    margin-bottom: 50px;
}

#core-value-2{
    font-size: 23px;
}

#core-content-2{
    font-size: 25px;
    line-height: 45px;
    padding-bottom: 100px;
}

#executive-team{
    background-image: url('../Assets/calgary.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    padding-top: 50px;
    justify-content: center;
}

#executive-title{
    font-size: 75px;
    padding-left: 5%;
}

#julian-picture{
    text-align: center;
    background-color: green;
    width: 300px;
    height: 300px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#founder-title{
    font-size: 30px;
    text-align: center;
}

#founder-bio{
    font-size: 20px;
    text-align: center;
    padding-bottom: 100px;
    line-height: 35px;
}

@media(max-width: 400px){
    #about-container{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
    }
    
    #about-legalbrief{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 0px;
    }

    #about-us{
        /*background-image: url(../Assets//legal\ background.jpeg);*/
        background-repeat: no-repeat;
        text-align: left;
        padding-left: 10%;
        padding-top: 15%;
        font-size: 100px;
        font-weight: 700;
        justify-content: center;
        width: 345px;
    }

    #inspiration{
        font-size: 14px;
        line-height: 40px;
    }
    
    #why{
        font-size: 14px;
        line-height: 40px;
    }
    
    #about-pic > img{
        max-height: 400px;
    }

    #about-title{
        font-size: 50px;
    }
    
    #about-left{
        flex-grow: 1;
        width: 400px;
    }

    #about-left > h1{
        font-size: 40px;
    }

    #about-left > p{
        font-size: 16px;
        line-height: 40px;
        width: 320px;
    }
    
    #about-title{
        font-size: 75px;
    }
    
    #about-content{
        font-size: 25px;
        line-height: 65px;
    
    }
    
    #about-pic > img{
        width: 300px;
        padding-left: 50px;
    }
    
    #about-right{
        background-color: rgb(0, 0, 0);
        width: 384px;
        height: 450px;
        padding-top: 50px;
    }
    
    #core-values{
        background-image: url('../Assets/about_background.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        padding-left: 5%;
    }
    
    #core-values-title{
        padding-bottom: 25px;
        font-size: 75px;
        padding-left: 5%;
    }
    
    #core-value-1{
        font-size: 30px;
        padding-left: 5%;
    }
    
    #core-content-1{
        font-size: 20px;
        text-align-last: auto;
        line-height: 40px;
        padding-left: 5%;
    }
    
    #core-value-2{
        font-size: 30px;
        padding-left: 5%;
    }
    
    #core-content-2{
        font-size: 20px;
        text-align-last: auto;
        line-height: 40px;
        padding-left: 5%;
    }
    
    #executive-team{
        background-image: url('../Assets/calgary.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50px;
        justify-content: center;
    }
    
    #executive-title{
        font-size: 65px;
        padding-left: 5%;
    }
    
    #julian-picture{
        text-align: center;
        background-color: rgb(72, 108, 180);
        width: 300px;
        height: 300px;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    
    #founder-title{
        font-size: 30px;
        text-align: center;
    }
    
    #founder-bio{
        font-size: 18px;
        line-height: 50px;
        width: 350px
    }
}