#faq-container{
    background-color: black;
    color: white;

}

#faq-content{
    display:flex;
    flex-direction: row;
}

#left-faq{
    flex-grow: 1;
}

#right-faq{
    flex-grow: 1;
}

#faq-title{
    padding-left: 200px; 
    padding-top: 50px;  
}

@media only screen and (max-width: 900px){
    #faq-container{
        background-color: black;
        color: white;
    
    }
    
    #faq-content{
        display:flex;
        flex-direction: column;
    }
    
    #left-faq{
        flex-grow: 1;
    }
    
    #right-faq{
        flex-grow: 1;
    }
    
    #faq-title{
        padding-left: 10%;
        font-size: 30px; 
        padding-top: 30px;  
    }
}