#sol-container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      url('../Assets/solution.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#option-container{
    padding-bottom: 50px;
    padding-top: 30px;
}

#option-container > h1{
    margin-left: 9%;
    font-size: 50px;
}

#option-container > h2{
    margin-left: 9%;
}


.option-cont > div{
   margin-left: 100px;
}